.user-gallery {
  width: 100%;

  > .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @media screen and (min-width: 768.1px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sort-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .sort {
        color: #172b4d;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        label {
          font-weight: 500;
        }
      }
    }
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
